<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Founded in 1999 by Joaquín Serna and Francisco Giner. What started with two hard-working friends has has today grown into a company of great prestige.">
        <meta name="keywords"  content="Company Serner History Mission Values">
		<title>Company - Serner</title>
        <link rel="icon" type="image/x-icon" href="../../assets/images/serner-icono.ico">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="../../css/style.css">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://kit.fontawesome.com/8cb6077f33.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	</head>
	<body>
        <script>
            AOS.init({
                duration: 800,
                once: true
            });
        </script>

        <!--            Header          -->
        <header class="w-100 h-header bg-blue-4 sticky-top d-flex align-items-center justify-content-between">
            <input id="btnMenu" type="checkbox" class="d-none">
            <label for="btnMenu" class="d-lg-none ml-3 ml-sm-4 mb-0">
                <i class="fas fa-bars text-white h2 mb-0"></i>
            </label>
            <label for="btnMenu" class="d-none opacity-0 filter-gray position-fixed top-0 right-0 left-0 bottom-0 transition-aside-label" id="label-aside"></label>
            <nav class="bg-blue-4 d-flex flex-column position-fixed top-0 bottom-0 left-nav w-nav transition-nav flex-lg-row position-lg-unset w-lg-auto h-lg-auto bg-lg-transparent" id="nav">
                <label for="btnMenu" class="align-self-end p-3 mb-0 d-lg-none">
                    <i class="fas fa-times text-white h6 mb-0"></i>
                </label>
                <span class="color-semi-white font-size-1 font-weight-600 cursor-pointer order-1 px-6 mt-5 font-size-lg-1 align-self-lg-end order-lg-0 pr-lg-0 pl-lg-2 mt-lg-0" id="dropdown">
                    <span class="pl-lg-2">EN
                        <i class="fas fa-globe-americas"></i>
                    </span>
                    <div class="d-none position-absolute bg-blue-4 pt-1" id="dropdown-content">
                        <a class="color-semi-white font-size-1 text-decoration-none d-block idiom-hover pl-2 pr-4 py-2 font-size-lg-1" href="../es/empresa.html">Spanish</a>
                        <a class="color-semi-white font-size-1 text-decoration-none d-block idiom-hover pl-2 pr-4 py-2 font-size-lg-1" href="./company.html">English</a>
                    </div>
                </span>
                <div class="font-size-2 font-weight-600 transition-menu-link d-flex flex-column pt-4 mb-0 flex-lg-row pt-lg-0 ml-lg-5">
                    <a class="text-white px-6 py-2 px-lg-0 py-lg-0 mr-lg-4 text-decoration-none menu-link-hover" href="./home.html">Home</a>
                    <a class="menu-link-active px-6 py-2 px-lg-0 py-lg-0 mr-lg-4 text-decoration-none menu-link-hover" href="./company.html">Company</a>
                    <a class="text-white px-6 py-2 px-lg-0 py-lg-0 mr-lg-4 text-decoration-none menu-link-hover" href="./team.html">Team</a>
                    <a class="text-white px-6 py-2 px-lg-0 py-lg-0 mr-lg-4 text-decoration-none menu-link-hover" href="./works.html">Works</a>
                    <a class="text-white px-6 py-2 px-lg-0 py-lg-0 mr-lg-4 text-decoration-none menu-link-hover" href="./contact.html">Contact</a>
                </div>
            </nav>
            <a class="mr-3" href="./home.html">
                <img class="w-logo" src="../../assets/images/serner-logo.png" alt="serner-logo">
            </a>
        </header>

        <!--            Empresa banner            -->
        <div class="w-100 h-banner-2 bg-banner-empresa bg-size-cover bg-position-center d-flex justify-content-center align-items-center">
            <h1 class="text-white" data-aos="fade-up">Company</h1>
        </div>
        
        <!--            Sobre nosotros          -->
        <span class="anchor d-block visibility-hidden" id="quienes-somos"></span>
        <div class="container my-5" data-aos="fade-up">
            <h2>Who we are</h2>
            <p class="font-size-4">Founded in 1999 by Joaquín Serna and Francisco Giner. What started with two hard-working friends has today grown into a company of great prestige.
                <br>
                Through time we have acquired new knowledge, partners and values that strengthen our work.
                <br>
                <br>
                We are a company committed to achieve the highest standards of excellence. And that's why we are clear that in order to obtain a final product of the highest quality, it's essential to have materials and personnel according to that quality.
        </div>

        <!--            Empresa            -->
        <div class="container-fluid mt-3">
            <div class="row font-size-4 text-white overflow-hidden">
                <div class="col-12 col-lg-6 p-0" data-aos="fade-right" data-aos-offset="180">
                    <div class="bg-img-mision bg-size-cover bg-position-center h-100 p-4 p-sm-5">
                        <h2 class="text-center mb-3">Our mission</h2>
                        <p>We want to build works that will last for generations and generate a positive contribution to their residents and their environment. That's the reason why we emphasize so much on the importance of quality and commitment to our clients.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 p-0" data-aos="fade-left" data-aos-offset="180">
                    <div class="bg-img-vision bg-size-cover bg-position-center h-100 p-4 p-sm-5">
                        <h2 class="text-center mb-3">Our vision</h2>
                        <p>Our goal is to be a world reference in Latin American construction, which's why we are in a constant process of improvement, continually increasing our personnel, incorporating new partners and acquiring new technologies.</p>
                    </div>
                </div>
                <div class="col-12 p-0" data-aos="fade-up" data-aos-offset="60">
                    <div class="bg-img-valores bg-size-cover bg-position-center h-100 p-4 p-sm-5">
                        <h2 class="text-center mb-3">Our values</h2>
                        <ul class="list-unstyled">
                            <li class="pb-2"><b>Communication:</b> We maintain constant communication, both internally and externally, accompanied by great mutual respect.</li>
                            <li class="pb-2"><b>Integrity:</b> Our work is totally transparent, there are no funds or decisions that aren't consulted.</li>
                            <li class="pb-2"><b>Efficiency:</b> We value productivity, the efficient use of materials, time and labor.</li>
                            <li class="pb-2"><b>Commitment:</b> We are committed to meeting each deadline and achieve the agreed quality and budget.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--            Footer            -->
        <footer class="container-fluid bg-black text-white d-flex flex-wrap justify-content-between p-3">
            <div class="font-weight-600 d-flex flex-wrap m-2">
                <div class="mr-4">
                    <a class="text-light text-decoration-none d-block mb-2" href="./company.html#quienes-somos">About us</a>
                    <a class="text-light text-decoration-none d-block mb-2" href="./team.html#equipo">Our team</a>
                    <a class="text-light text-decoration-none d-block mb-2" href="./contact.html#empleos">Jobs</a>
                    <a class="text-light text-decoration-none d-block mb-2" href="./contact.html#consultas">Inquiries</a>
                </div>
                <div>
                    <div class="mb-2">
                        <i class="fas fa-phone-alt d-inline"></i>
                        <a class="d-inline text-white cursor-pointer text-decoration-none" href="tel: +54-011-6689-8678">+54 (011) 6689-8678</a>
                    </div>
                    <div class="mb-2">
                        <i class="far fa-envelope d-inline"></i>
                        <a class="d-inline text-white cursor-pointer text-decoration-none" href="mailto: info@serner.com.ar">info@serner.com</a>
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-map-marker-alt d-inline"></i>
                        <p class="d-inline">Cdad. de la Paz 3435, CABA</p>
                    </div>
                </div>
            </div>
            <div class="m-2">
                <a class="mr-lg-4" href="./home.html">
                    <img class="w-logo-2" src="../../assets/images/serner-logo.png" alt="serner-logo">
                </a>
                <p class="text-light mb-0">Website made by Ramiro Gómez</p>
            </div>
        </footer>
	</body>
</html>