$filter-gray-1: rgba(69, 69, 69, 0.4);
$filter-gray-2: rgba(69, 69, 69, 0.1);
$filter-gray-3: rgba(69, 69, 69, 0.15);
$filter-dark-blue: hsla(201, 24%, 14%, 0.5);
$h-header: 3.5rem;
$w-nav: 12.5rem;
$bs-breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

html {
    scroll-behavior: smooth;
}

.filter-gray {
    background-color: $filter-gray-1;
}
.bg-black {
    background-color: black;
}
.bg-blue-1 {
    background-color: #3282b8;
}
.bg-blue-2 {
    background-color: #0F4C75;
}
.bg-blue-3 {
    background-color: #112D4E;
}
.bg-blue-4 {
    background-color: #1B262C;
}


.color-white {
    color: white ;
}
.menu-link-active {
    color: #3E96FE;
}
.menu-link-hover:hover {
    color: #3E96FE;
    background-color: #0056b34d;
}

.btn-blue {
    color: white;
    background-color: #134f94;
    border-color: #134f94;
    &:hover {
        color: white;
        background-color: #2773ca;
        border-color: #2773ca;
    }
}
.btn-outline-blue {
    color: #2773ca;
    border-color: #2773ca;
    background-color: #2773ca0d;
    &:hover {
        color: white;
        background-color: #2773ca;
    }
}

.font-size-1 {
    font-size: 1.25rem;
}
.font-size-2 {
    font-size: 1.45rem;
}
.font-size-3 {
    font-size: 1.1rem;
}
.font-size-4 {
    font-size: 3rem;
}
.font-size-5 {
    font-size: 1.05rem;
}
.font-size-6 {
    font-size: 1.2rem;
}
.font-weight-600 {
    font-weight: 600;
}
.px-6 {
    padding-left: 2.3rem; padding-right: 2.3rem;
}
.px-7 {
    padding-left: .75rem; padding-right: .75rem;
}
.py-6 {
    padding-top: 6rem; padding-bottom: 6rem;
}
.border-2 {
    border: 2px solid;
}

.bg-size-cover {
    background-size: cover;
}
.bg-position-center {
    background-position: center;
}
.object-fit-cover {
    object-fit: cover;
}
.w-fit-content {
    width: fit-content;
}
.w-90 {
    width: 90%;
}
.visibility-hidden {
    visibility: hidden;
}
.opacity-0 {
    opacity: 0;
}

.top-0 {
    top: 0;
}
.right-0 {
    right: 0;
}
.left-0 {
    left: 0;
}
.bottom-0 {
    bottom: 0;
}
.left-nav {
    left: -$w-nav;
}
.bottom-btn {
    bottom: 15%;
}
.bottom-btn-1 {
    bottom: 6rem;
}


.transition-nav {
    transition: left .4s ease .2s;
}
.transition-aside-label {
    transition: opacity .3s ease;
}
.transition-scale {
    transition: transform .8s ease;
}


.h-header {
    height: $h-header;
}
.h-banner {
    height: 37rem;
}
.h-banner-2 {
    height: 30rem;
}
.h-preview-obra {
    height: 12rem;
}
.h-min-1 {
    min-height: 8rem;
}
.h-text-area {
    height: 12rem!important;
}
.w-nav {
    width: $w-nav;
}
.w-logo {
    width: 15.5rem;
}
.w-logo-2 {
    width: 17rem;
}
.w-btn {
    width: 10.25rem;
}
.w-maquinaria-img {
    width: 18.75rem;
}
.equipo-img-size {
    width: 20rem; height: 15rem;
}


.bg-banner-home-1 {
    background-image: linear-gradient(to top, $filter-gray-2, $filter-gray-2 100%), url(../../media/home-banner-1.jpg);
}
.bg-banner-home-2 {
    background-image: linear-gradient(to top, $filter-gray-1, $filter-gray-1 100%), url(../../media/home-banner-2.jpg);
}
.bg-banner-home-3 {
    background-image: linear-gradient(to top, $filter-gray-1, $filter-gray-1 100%), url(../../media/home-banner-3.jpg);
}
.bg-banner-empresa {
    background-image: linear-gradient(to top, $filter-gray-3, $filter-gray-3 100%), url(../../media/empresa-banner.jpg);
}
.bg-banner-equipo {
    background-image: linear-gradient(to top, $filter-gray-2, $filter-gray-2 100%), url(../../media/equipo-banner.jpg);
}
.bg-banner-obras {
    background-image: url(../../media/obras-banner.jpg);
}
.bg-banner-contacto {
    background-image: linear-gradient(to top, $filter-gray-3, $filter-gray-3 100%), url(../../media/contacto-banner.jpg);
}

.bg-img-mision {
    background-image: linear-gradient(to top, $filter-dark-blue, $filter-dark-blue 100%), url(../../media/mision-img.jpg);
}
.bg-img-vision {
    background-image: linear-gradient(to top, $filter-dark-blue, $filter-dark-blue 100%), url(../../media/vision-img.jpg);
}
.bg-img-valores {
    background-image: linear-gradient(to top, $filter-dark-blue, $filter-dark-blue 100%), url(../../media/valores-img.jpg);
}


#btnMenu:checked ~ #nav {
    left: 0;
}
#btnMenu:checked ~ #label-aside {
    display: block !important; opacity: 1;
}
#btnMenu:checked ~ #label-x {
    display: block;
}

.counter::before{
    content: "+";
}

.anchor {
    height: $h-header; margin-top: -$h-header;
}

.overlay {
    transition: .5s ease;
}
.overlay-container:hover .overlay {
    opacity: 1;
}
.scale-img-hover:hover img {
    transform: scale(1.1, 1.1);
}

@media (min-width: map-get($bs-breakpoints, lg)) {
    .position-lg-unset {
        position: unset !important;
    }
    .w-lg-auto {
        width: auto;
    }
    .h-lg-auto {
        height: auto;
    }
    .h-lg-img-obra{
        height: 18rem;
    }
    .bg-lg-transparent {
        background-color: transparent;
    }
    .btn-hover-lg-1:hover {
        color: #3E96FE; background-color: transparent;
    }
    .ml-lg-6 {
        margin-left: 5rem;
    }
}