html {
  scroll-behavior: smooth; }

.filter-gray {
  background-color: rgba(69, 69, 69, 0.4); }

.bg-black {
  background-color: black; }

.bg-blue-1 {
  background-color: #3282b8; }

.bg-blue-2 {
  background-color: #0F4C75; }

.bg-blue-3 {
  background-color: #112D4E; }

.bg-blue-4 {
  background-color: #1B262C; }

.color-white {
  color: white; }

.btn-active {
  color: #3E96FE; }

.btn-hover-1:hover {
  color: #3E96FE;
  background-color: #0056b34d; }

.btn-blue {
  color: #fff;
  background-color: #134f94;
  border-color: #134f94; }

.btn-blue:hover {
  color: #fff;
  background-color: #2773ca;
  border-color: #2773ca; }

.btn-outline-blue {
  color: #2773ca;
  border-color: #2773ca;
  background-color: #2773ca0d; }

.btn-outline-blue:hover {
  color: #fff;
  background-color: #2773ca; }

.bg-size-cover {
  background-size: cover; }

.bg-position-center {
  background-position: center; }

.object-fit-cover {
  object-fit: cover; }

.w-fit-content {
  width: fit-content; }

.visibility-hidden {
  visibility: hidden; }

.opacity-0 {
  opacity: 0; }

.top-0 {
  top: 0; }

.right-0 {
  right: 0; }

.left-0 {
  left: 0; }

.bottom-0 {
  bottom: 0; }

.left-nav {
  left: -9.5rem; }

.bottom-btn {
  bottom: 15%; }

.bottom-btn-1 {
  bottom: 6rem; }

.transition-nav {
  transition: left .4s ease .2s; }

.transition-aside-label {
  transition: opacity .3s ease; }

.transition-scale {
  transition: transform .8s ease; }

.h-header {
  height: 3.5rem; }

.h-banner {
  height: 37rem; }

.h-preview-obra {
  height: 12rem; }

.h-img-empresa {
  height: 18.75rem; }

.h-img-obra {
  height: 15rem; }

.h-map {
  height: 22rem; }

.h-text-area {
  height: 12rem !important; }

.w-logo {
  width: 15.5rem; }

.w-logo-2 {
  width: 17.5rem; }

.w-btn {
  width: 10.25rem; }

.w-maquinaria-img {
  width: 18.75rem; }

.equipo-img-size {
  width: 20rem;
  height: 15rem; }

.font-size-1 {
  font-size: 1.2rem; }

.font-size-2 {
  font-size: 1.45rem; }

.font-size-3 {
  font-size: 1.1rem; }

.font-weight-600 {
  font-weight: 600; }

.px-6 {
  padding-left: 2.3rem;
  padding-right: 2.3rem; }

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.border-2 {
  border: 2px solid; }

.home-bg-banner-1 {
  background-image: linear-gradient(to top, rgba(69, 69, 69, 0.1) 0%, rgba(69, 69, 69, 0.1) 100%), url(../../media/home-banner-1.jpg); }

.home-bg-banner-2 {
  background-image: linear-gradient(to top, rgba(69, 69, 69, 0.4), rgba(69, 69, 69, 0.4) 100%), url(../../media/home-banner-2.jpg); }

.home-bg-banner-3 {
  background-image: linear-gradient(to top, rgba(69, 69, 69, 0.4), rgba(69, 69, 69, 0.4) 100%), url(../../media/home-banner-3.jpg); }

.equipo-bg-banner {
  background-image: url(../../media/equipoBanner.jpg); }

#btnMenu:checked ~ #nav {
  left: 0; }

#btnMenu:checked ~ #label-aside {
  display: block !important;
  opacity: 1; }

#btnMenu:checked ~ #label-x {
  display: block; }

.counter::before {
  content: "+"; }

.anchor {
  height: 3.5rem;
  margin-top: -3.5rem; }

.overlay {
  transition: .5s ease; }

.overlay-container:hover .overlay {
  opacity: 1; }

.scale-img-hover:hover img {
  transform: scale(1.1, 1.1); }

@media (min-width: 992px) {
  .position-lg-unset {
    position: unset !important; }
  .w-lg-auto {
    width: auto; }
  .h-lg-auto {
    height: auto; }
  .h-lg-img-obra {
    height: 18rem; }
  .bg-lg-transparent {
    background-color: transparent; }
  .btn-hover-lg-1:hover {
    color: #3E96FE;
    background-color: transparent; }
  .ml-lg-6 {
    margin-left: 5rem !important; }
  .mx-lg-6 {
    margin-left: 2.4rem !important;
    margin-right: 2.4rem !important; } }
