:root {
  font-size: 12px; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Selawik", sans-serif; }

.filter-gray {
  background-color: rgba(69, 69, 69, 0.4); }

.bg-black {
  background-color: #000; }

.bg-blue-1 {
  background-color: #3282b8; }

.bg-blue-2 {
  background-color: #0f4c75; }

.bg-blue-3 {
  background-color: #112d4e; }

.bg-blue-4 {
  background-color: #1b262c; }

.color-semi-white {
  color: rgba(230, 230, 230, 0.9); }

.font-size-1 {
  font-size: 1.1rem; }

.font-size-2 {
  font-size: 1.2rem; }

.font-size-3 {
  font-size: 1.25rem; }

.font-size-4 {
  font-size: 1.3rem; }

.font-size-5 {
  font-size: 1.45rem; }

.font-size-6 {
  font-size: 3rem; }

.font-weight-600 {
  font-weight: 600; }

.px-6 {
  padding-left: 2.3rem;
  padding-right: 2.3rem; }

.px-7 {
  padding-left: .75rem;
  padding-right: .75rem; }

.px-8 {
  padding-left: 4rem;
  padding-right: 4rem; }

.border-2 {
  border: 2px solid; }

.scale-img-hover:hover img {
  transform: scale(1.1, 1.1); }

.idiom-hover:hover {
  color: #fff;
  background-color: #0f4c75; }

.menu-link-active {
  color: #3e96fe; }

.menu-link-hover:hover {
  color: #3e96fe !important;
  background-color: #0056b34d; }

.btn-blue {
  color: #fff;
  background-color: #134f94;
  border-color: #134f94; }
  .btn-blue:hover {
    color: #fff;
    background-color: #2773ca;
    border-color: #2773ca; }

.btn-outline-blue {
  color: #2773ca;
  border-color: #2773ca;
  background-color: #2773ca0d; }
  .btn-outline-blue:hover {
    color: #fff;
    background-color: #2773ca; }

.bg-size-cover {
  background-size: cover; }

.bg-position-center {
  background-position: center; }

.w-fit-content {
  width: fit-content; }

.w-90 {
  width: 90%; }

.object-fit-cover {
  object-fit: cover; }

.object-position-top {
  object-position: top; }

.visibility-hidden {
  visibility: hidden; }

.opacity-0 {
  opacity: 0; }

.cursor-pointer {
  cursor: pointer; }

.pointer-events-none {
  pointer-events: none; }

.overflow-x-hidden {
  overflow-x: hidden; }

.top-0 {
  top: 0; }

.right-0 {
  right: 0; }

.left-0 {
  left: 0; }

.bottom-0 {
  bottom: 0; }

.bottom-banner {
  bottom: 30%; }

.left-nav {
  left: -12.5rem; }

.bottom-btn {
  bottom: 15%; }

.h-header {
  height: 3.5rem; }

.h-banner {
  height: 37rem; }

.h-banner-2 {
  height: 30rem; }

.h-img-resumen {
  height: 10rem; }

.h-preview-obra {
  height: 12rem; }

.h-img-obra {
  height: 15rem; }

.h-img-equipo {
  height: 14rem; }

.h-img-equipamiento {
  height: 15rem; }

.h-min-1 {
  min-height: 8rem; }

.w-nav {
  width: 12.5rem; }

.w-logo {
  width: 15.5rem; }

.w-logo-2 {
  width: 17rem; }

.w-btn {
  width: 10.4rem; }

.transition-nav {
  transition: left .4s ease .2s; }

.transition-menu-link {
  transition: all .15s ease; }

.transition-aside-label {
  transition: opacity .3s ease; }

.transition-scale {
  transition: transform .8s ease; }

.transition-overlay {
  transition: .5s ease; }

.bg-banner-home-1 {
  background-image: linear-gradient(to top, rgba(69, 69, 69, 0.15), rgba(69, 69, 69, 0.15) 100%), url(../assets/images/banner-home-1.jpg); }

.bg-banner-home-2 {
  background-image: linear-gradient(to top, rgba(69, 69, 69, 0.4), rgba(69, 69, 69, 0.4) 100%), url(../assets/images/banner-home-2.jpg); }

.bg-banner-home-3 {
  background-image: linear-gradient(to top, rgba(69, 69, 69, 0.4), rgba(69, 69, 69, 0.4) 100%), url(../assets/images/banner-home-3.jpg); }

.bg-banner-empresa {
  background-image: linear-gradient(to top, rgba(69, 69, 69, 0.15), rgba(69, 69, 69, 0.15) 100%), url(../assets/images/banner-empresa.jpg); }

.bg-banner-equipo {
  background-image: linear-gradient(to top, rgba(69, 69, 69, 0.1), rgba(69, 69, 69, 0.1) 100%), url(../assets/images/banner-equipo.jpg); }

.bg-banner-obras {
  background-image: url(../assets/images/banner-obras.jpg); }

.bg-banner-contacto {
  background-image: linear-gradient(to top, rgba(69, 69, 69, 0.15), rgba(69, 69, 69, 0.15) 100%), url(../assets/images/banner-contacto.jpg); }

.bg-img-mision {
  background-image: linear-gradient(to top, rgba(27, 38, 44, 0.5), rgba(27, 38, 44, 0.5) 100%), url(../assets/images/mision.jpg); }

.bg-img-vision {
  background-image: linear-gradient(to top, rgba(27, 38, 44, 0.5), rgba(27, 38, 44, 0.5) 100%), url(../assets/images/vision.jpg); }

.bg-img-valores {
  background-image: linear-gradient(to top, rgba(27, 38, 44, 0.5), rgba(27, 38, 44, 0.5) 100%), url(../assets/images/valores.jpg); }

#btnMenu:checked ~ #nav {
  left: 0; }

#btnMenu:checked ~ #label-aside {
  display: block !important;
  opacity: 1; }

#btnMenu:checked ~ #label-x {
  display: block; }

#dropdown:hover #dropdown-content {
  display: block !important; }

#overlay-container:hover #overlay {
  opacity: 1; }

.anchor {
  height: 3.5rem;
  margin-top: -3.5rem; }

.counter::before {
  content: "+"; }

@media (min-width: 576px) {
  .bottom-banner {
    bottom: 35%; } }

@media (min-width: 768px) {
  :root {
    font-size: 14px; }
  .h-md-auto {
    height: auto; }
  .py-md-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important; } }

@media (min-width: 992px) {
  :root {
    font-size: 16px; }
  .font-size-lg-1 {
    font-size: 0.95rem; }
  .position-lg-unset {
    position: unset !important; }
  .bg-lg-transparent {
    background-color: transparent; }
  .bottom-banner {
    bottom: 40%; }
  .w-lg-auto {
    width: auto; }
  .h-lg-auto {
    height: auto; }
  .h-lg-100 {
    height: 100%; }
  .h-img-obra {
    height: 18rem; }
  .menu-link-hover:hover {
    color: #3e96fe !important;
    background-color: transparent; }
  .ml-lg-6 {
    margin-left: 5rem; } }
